*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    background-color:white;
}
 .container1{
    background-image: url("background1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
} 
.logo h1{
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    width: 8.4375em;
    cursor: pointer;
    font-size: xx-large;
}
.navbar{
    display: flex;
    margin: auto;
    width: 85%;
    padding: 2.1875em 0;
    justify-content: space-between;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
}
.navbar ul li{
    display: inline-block;
    list-style: none;
    margin:0 1.25em;
    position: relative;
    
}
.navbar ul li::after{
    content: '';
    width: 0% ;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -0.625em;
    background: hsl(61, 80%, 48%);
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    color:#fff;
    
}
.content h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    border-radius: 25px;
    border: 2px solid hsl(61, 80%, 48%);
    background: transparent;
    cursor: pointer;
    color: whitesmoke;
    position: relative;
    overflow: hidden;
}
span{
    background: hsl(60, 3%, 13%);
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}