*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color:white;
    
}

.container section{
    width: 100%;
    height: 100vh;
}
 .s1{
    background-image: url(images/Web-Header-Background.svg);
    opacity: 0.8;
    background-size: auto 718px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
} 

.logo h1{
    width: 135px;
    cursor: pointer;
    font-size: xx-large;
}
.logo h1 a{
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    color: #fff;
}
nav{
    display: flex;
    margin: auto;
    width: 85%;
    padding: 25px 0;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    text-align: right;
    flex: 1;
}
.nav-links ul li a{
    text-decoration: none;
    color: #fff;
}
.nav-links ul li{
    display: inline-block;
    list-style: none;
    /* margin:0 20px; */
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li::after{
    content: '';
    width: 0% ;
    height: 2px;
    background: #fff;
    transition: 0.5s;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.content{
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    transform: translateY(-50%);
    color:#fff;
    
}
.content h1{
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 80px;
}
.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 25px;
    border: 2px solid #fff;
    background: transparent;
    cursor: pointer;
    color: whitesmoke;
    position: relative;
    overflow: hidden;
}
button:hover{
    color: black;
    border-color: transparent;
}
span{
    background: #fff;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 1s;
}
button:hover span{
    width: 100%;
}

nav i{
    color: transparent;
}

@media(max-width: 750px){


        .content h1{
            font-size: 26px;
        }
        .content p{
            font-size: 14px;
        }
        .s1{
            height: 100vh;
            width: 100%;
            background-size: cover;
        }
        .nav-links ul li{
            display: block;
        }
        .nav-links ul li a{
            color: #000;
            font-weight: bold;
        }
        .nav-links{
            position: absolute;
            background:#fff;
            height: 100vh;
            width: 200px;
            top: 0;
            right: -200px;
            text-align: left;
            z-index: 2;
            font-size: 12px;
            transition: 1s;
        }
        .fa-ellipsis-v{
            color: #fff;
        }
        .nav-links ul{
            padding: 13px;
        }
        nav i{
            display: block;
            color: #000;
            margin: 10px;
            font-size: 22px;
            cursor: pointer;
        }
        .nav-links ul li::after{
            color: #000;
        }
}




/* Education */

.education{

    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
@media(max-width: 750px){
    .education{
        padding-top: 25px;
    }
}
.education h1{
    font-size: 36px;
    font-weight: 600;
}
.education p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.edu-col{
    flex-basis: 40%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
    cursor: pointer;
    width: 84%;
}

h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}

.edu-col:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0,0.2);
}

@media(max-width: 750px){
    .row{
        flex-direction: column;
    }
}




/* Project */

.projects{
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 50px 0px;
}

.projects h1{
    font-size: 36px;
    font-weight: 600;}

.projects p{
    font-size: 14px;
    font-weight: 200;
    line-height: 22px;
    padding: 15px;

}
/* .projects img{
    margin: 30px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.5s;
}
.projects img:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0,0.2);
 ;} */

 .row{
        display: flex;
        align-items: center;
 }
 .row a{
     text-decoration: none;
     color: black;
     transition: .5s ease-in;
 }
 .info{
     display: none;
 }
 .projcol{
     width: 250px;
     height: 400px;
     margin: 12px;
     transition: 0.5s;
     position: relative;
     border-radius: 8px;
     cursor: pointer;
     overflow: hidden;
     box-shadow: 2px 4px 4px rgb(158, 157, 157);
 }
 .projcol img{
    width: 100%;
    height: 100%;
 }
 .rows button{
     border: none;
 }
 .layer{
     background: transparent;
     height: 100%;
     width: 100%;
    position: absolute;
    top: 0;
    left: 0;
 }
.layer:hover{
    background: rgba(228, 227, 227, 0.5);
}
.layer:hover h3{
    bottom: 45%;
    opacity: 1;

}
.layer h3{
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    opacity: 0;
    transition: 0.5s;
    font-size: 15px;
    transform: translateX(-50%);
    position: absolute;
    bottom: 0;
    left: 50%;

}
 .projcol:hover{
    box-shadow: 0 0 20px 0px rgb(0, 0,0.2);
 }

 @media(max-width:750px){
     .info{
         display: inline;
     }
 }


 /* Contect */

 .contect{
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 50px 0px;
    margin: 50px auto;
 }
 .contFB{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
 }
 .contect h1{
     font-size: 36px;
     font-weight: 600;
     margin-bottom: 20px;
 }
 .contback{
    padding: 35px;
     background-image:url("images/work.jpg");
    background-size: cover;
    border-radius: 8px;
    /* margin-top: 40px; */
    width: 80%;
 }
 .label{
     float: left;
 }
 @media(max-width:750px)
 {
     .contback{
         display: block;
         background-size: auto;
         /* margin-top: 400px; */
         margin-bottom: 20px;
         background-image: linear-gradient(#eeeeee,rgba(121, 112, 112, 0.7)),url("images/work.jpg");
     }
 }
 .contbut{
     direction: unset;
     background-color: rgba(226, 0, 0, 0.8);
     width: 150px;
     border: transparent;
     transition: 0.5s;
 }
 .contbut:hover{
     color: #000;
     background-color: #fff;
 }




 /* mailBox */


 
 .contect .close{
    display: flex;
    float: right;
  }
    .container {
      display: none;
      width: 90%;
      height: 90%;
      max-width: 700px;
      margin: 0 auto;
      padding: 20px;
      padding-right: 25px;
      box-shadow: 0 0 20px 0px rgb(0, 0,0.2);
      background-color: hsl(0, 100%, 98%);
      border-radius: 8px;
      margin-bottom: 10px;
    }
    .close{
      display: flex;
      justify-content: left;
    }
    .close i{
        cursor: pointer;
    }
    .but{
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 25px;
    }
    
    .form-group {
      width: 100%;
      margin-top: 20px;
      font-size: 16px;
    }
    .form-group input,
    .form-group textarea {
      width: 100%;
      padding: 5px;
      font-size: 16px;
      border: 1px solid rgba(128, 128, 128, 0.199);
      margin-top: 5px;
    }
    
    textarea {
      resize: vertical;
      align-self: right;
    }
   .contect button[type="submit"] {
      width: 150px;
      border: none;
      outline: none;
      padding: 15px;
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
      border-radius: 25px;
      font-family: "Montserrat";
      background-color: rgba(226, 0, 0, 0.7);
      text-align: center;
      cursor: pointer;
      margin-top: 10px;
      transition: 0.3s ease background-color;
    }
    .contect button[type="submit"]:hover {
      background-color: #fff;
      color: #000;
    }
    #status {
      width: 90%;
      max-width: 450px;
      text-align: center;
      padding: 10px;
      margin: 0 auto;
      border-radius: 8px;
    }
    #status.success {
      background-color: rgb(211, 250, 153);
      animation: status 4s ease forwards;
    }
    #status.error {
      background-color: rgb(250, 129, 92);
      color: white;
      animation: status 4s ease forwards;
    }
    @keyframes status {
      0% {
        opacity: 1;
        pointer-events: all;
      }
      90% {
        opacity: 1;
        pointer-events: all;
      }
      100% {
        opacity: 0;
        pointer-events: none;
      }
    }